// Material Design animations curves
// https://material.io/design/motion/the-basics.html#duration

$swift-ease-out-duration: 400ms;
$swift-ease-out-timing-function: cubic-bezier(.25, .8, .25, 1);

/**
 * Genera un estilo de transición para una propiedad CSS.
 *
 * @param {string} $property - La propiedad CSS que se va a animar.
 *
 * @return {string} El estilo de transición.
 */
@function swift-ease-out($property) {
    // The Material default animation curves.
    $transition: $property $swift-ease-out-duration $swift-ease-out-timing-function;

    @return $transition;
}

/**
 * Genera un estilo de transición para una propiedad CSS con una duración de
 * 225ms y una función de timing de cubic-bezier(.4, 0, .2, 1).
 *
 * @param {string} $property - La propiedad CSS que se va a animar.
 *
 * @return {string} El estilo de transición.
 */
@function fast-out-slow($property) {
    // The Material default animation curves.
    $transition: $property 225ms cubic-bezier(.4, 0, .2, 1);

    @return $transition;
}
