.mdc-switch{
	background-color: rgb(114, 199, 224) !important;
	border-radius: 15px;
}

.general-info {
    text-align: center;
}

.table-section {
    margin-top: 25px;
	// background-color: transparent !important; /* Cambia el color de fondo a transparente */
    // border: none !important; /* Elimina los bordes, si los hay */
    // padding: 0 !important; /* Elimina el padding interno */
    // padding: 0 15px;

    table {
    margin-bottom: 5px;
    }

    .centered-header {
        text-align: center;
        font-weight: bold;
    }

    .centered-content {
        text-align: center;
        font-size: 14px;
		padding: 8px;
    }
    .recurrency {
        mat-form-field{
            width: 120px;
            margin-left: 5px;
        }
    }
    .customCollumMedium{
        mat-form-field{
            width: 180px;
        }
    }
    .customCollumSmall{
        mat-form-field{
            width: 160px;
        }
    }
}
//Estilo de la caja de rut y camara de comercio
#container_box{
	height: 60px;
	margin-bottom: 20px;
	overflow: visible;
	border-radius: 10px;
}
.service-item mat-icon {
    margin-right: 10px;
}

mat-list-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.listasig{
flex-direction: row-reverse;
margin: -10px;
}
//Estilos de el tamaño del input de la moneda y accesos
.size-input .mat-mdc-form-field-infix {
    width: auto !important;
    min-width: 80px;
}

//Estilos para el cambio de la tributaria
.tributarias-carousel-wrapper {
  overflow: hidden;
  width: 100%;
}

.tributarias-carousel {
  display: flex;
  transition: transform 0.3s ease-in-out;
  width: 100%;
}

.tributaria-card {
  width: 100%;
  flex-shrink: 0;
}

//Estilo de los botones para pasar tributarias
.header-tributaria {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;

  .nav-title {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .delete-button {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}

.mat-mdc-optgroup-label {
  font-weight: bold;
  color: #333;
}